:root {
  --container-gradient-bg: linear-gradient(
    325deg,
    #03001e 10%,
    #7303c0 30%,
    #ec38bc 70%,
    #fdeff9 100%
  );
  --white-color: #fff;
  --body-background-color: #fc1e8a;
  --button-focus-color: #ec38bc;
  --button-focus-bg-color: #262809;
  --button-subtitle-color: #000;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--body-background-color);
  user-select: none;
}

img {
    width: 95px;
    height: 95px;
    border-radius: 0.3em;
}

.container {
  align-items: center;
  background: var(--container-gradient-bg);
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  padding: 40px 60px;
  position: relative;
}

h2 {
  font-size: 3em;
  color: var(--white-color);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.reset {
  padding: 15px 20px;
  width: 100%;
  color: var(--button-subtitle-color);
  background-color: var(--white-color);
  border: none;
  font-size: 1.3em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  user-select: none;
}

.reset:focus {
  color: var(--button-focus-color);
  background-color: var(--button-focus-bg-color);
}

.game {
  width: 430px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
}

.item {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
  font-size: 3em;
  transform: rotateY(180deg);
  transition: 0.8s;
  user-select: none;
  border-radius: 0.3em;
}

.item::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('../images/cute-monster-1209-650.jpg');
  background-size: contain;
  transition: 0.5s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  border-radius: 0.3em;
}

.item.boxOpen {
  transform: rotateY(0deg);
}

.boxOpen::after, .boxMatch::after  {
  transform: rotateY(180deg);
}

